body {
    font-family: Arial, Helvetica, sans-serif;
}

.feature-label {
    margin: 30px 0 30px 0;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.header hr {
    width: 50%;
}


/* USER INTERFACE */
.user-interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.ui-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.ui-wrapper button {
    background: #e7e7e7;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
}

.ui-wrapper button:hover {
    color: red;
    cursor: pointer;
}

.ui-wrapper .active {
    color: red;
}


/* DROPDOWN MENU */
.css-navbar, .js-navbar {
    display: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    width: 50%;
}

.navbar a, .dropdown-button {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.dropdown-content {
    overflow: hidden;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
}

.dropdown-button {
    background: none;
    border: none;
}

.nav-link:hover, .dropdown-button:hover, .dropdown-content > a:hover {
    color: red;
    transition: 100ms ease-in;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e9e9e9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    display: block;
    padding: 10px 5px;
    margin: 0;
}

.css-dropdown:hover .css-dropdown-content {
    display: block;
}

/* LEFT MENUBAR */
.left-menubar {
    background: #333;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.left-menubar h3 {
    color: rgb(97, 179, 206);
}

.left-menubar hr {
    width: 25%;
    color: white;
    margin-bottom: 20px;
}

.left-menubar a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

.left-menubar a:hover {
    color: rgb(97, 179, 206);
    transition: 100ms ease-in;
    cursor: pointer;
}